<div class="container mx-auto px-4 py-8">
    <!-- Optional: Add filters or sorting controls here -->

    @if(posts(); as posts) {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            @for(post of posts; track post.id) {
                <app-blog-post-card [post]="post"></app-blog-post-card>
            } @empty {
                <div class="col-span-full text-center text-muted dark:text-muted-dark">
                    No blog posts found.
                </div>
            }
        </div>
    } @else {
        <p class="text-center text-muted dark:text-muted-dark">Loading posts...</p>
    }

    <!-- Optional: Add pagination controls here -->

    <div class="flex justify-center">
        <app-button class="mt-8" link="/" text="Back to Home" />
    </div>

</div>