<div class="post-main-container bg-background-alt dark:bg-background-alt-dark rounded-lg shadow-md overflow-hidden">
    @if(post(); as post) {
        @if(post.imageUrl) {
            <img [src]="post.imageUrl"
                [alt]="post.title"
                class="w-full aspect-[25/3] object-cover max-h-[300px]">
        } @else {
            <div class="w-full aspect-[25/3] bg-gray-200 dark:bg-gray-700 flex items-center justify-center">
                <span class="text-muted dark:text-muted-dark"></span>
            </div>
        }
        <div class="w-full post-container">
            <div class="post-content" #markdownContent></div>
            <p class="text-gray-600 my-8">
                Published: {{ post.createdAt | date:'mediumDate' }}
                @if(post.author) {
                    <span class="text-gray-600 block">
                        Author: {{ post.author }}
                    </span>
                }
                @if(post.tags?.length) {
                    <span class="text-gray-600 block">
                        Tags: {{ post.tags?.join(', ') }}
                    </span>
                }
            </p>

        </div>
    } @else {
        <p class="text-muted dark:text-muted-dark post-container">Loading post...</p>
    }
</div>

<div class="flex justify-between mt-4 gap-4">
    <app-button link="/blog" text="Go back to list" />
    <app-button (click)="sharePost()" text="Share this post" />
</div>